@import './mixin'

article
	margin-top 50px
#chart_categories
	padding 20px 0
	.panel-body
		a
			display block
			img
				width 100%

#chart
	margin-top 50px
#form
	padding 40px
	.input-group
		margin-bottom 10px
