@import './mixin'

article
	margin-top 50px
	margin-bottom 150px
#chart_categories
	padding 20px 0
	.panel-body
		height 400px
		position relative
		overflow hidden
		a
			display block
			img
				width 100%


#chart
	margin-top 50px
#form
	padding 40px
	.input-group
		margin-bottom 10px
