!!! 5
html(lang="en")
	head
		include includes/header
	body
		header.navbar.navbar-fixed-top.navbar-default
			.container
				.navbar-header
					a.navbar-brand(href="/#/")
						| Bi-report
				//- nav.collapse.navbar-collapse(role="navigation")
				//- 	ul.nav.navbar-nav
				//- 		li
				//- 			a(href="/#/chart")
				//- 				| Chart
		article
		footer
			nav.navbar.navbar-fixed-bottom.navbar-inverse(role="navigation")
