#chart
#form
	form(action="#" method="post" role="form")
		.input-group
			span.input-group-addon 分类名称
			input.form-control(type="text" name="category" required="required")
		.input-group
			span.input-group-addon 比例
			input.form-control(type="text" name="percent" placeholder="填写整数" required="required")
		.input-group
			input.btn.btn-primary(type="submit")
