.container
	#chart
	#form
		form(action="#" method="post" role="form")
			.input-group
				span.input-group-addon 分类名称
				input.form-control(type="text" name="category")
			.input-group
				span.input-group-addon 比例
				input.form-control(type="text" name="percent" placeholder="填写整数")
			.input-group
				input.btn.btn-primary(type="submit")
