.collapse.navbar-collapse
	ul.nav.navbar-nav.navbar-right
		li.dropdown
			a(href="#" class="dropdown-toggle" data-toggle="dropdown") 快捷图表选择
			ul.dropdown-menu
				each item,i in collection
					li
						a(href="#chart/#{item.id}")= item.name